* { margin: 0; padding: 0; box-sizing: border-box; }
.layers {
    /* box-sizing: border-box; */
    width: 100%;
    /* border: 3px red solid; */
    min-height: 2000px;
    position: relative;
    overflow: hidden;
}

.current {
    background-color: rgba(127,127,255,0.5);
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.image.layer {
    background-color: rgba(0,128,0,0.5);
    background-repeat: no-repeat;
    width: 10000px;
    height: 10000px;
}

.work.layer .box {
    background: yellow;
    border: 1px black solid;
}

/* .overlay { */
/*     position: fixed; */
/*     width: 100%; */
/*     height: 100%; */
/*     background-color: rgba(128,128,128,0.5); */
/* } */

.tools {
    font-family: mono;
    background: rgba(255,255,255,0.8);
    box-shadow: 5px 5px 10px 5px black;
    border: 2px grey solid;
    border-radius: 20px;
    width: 50%;
    position: fixed;
    padding: 20px;
}

.tools p {
    padding: 10px;
}

.new-div {
    padding: 10px;
    margin: 10px;
    border: 1px green solid;
}

.dom .tag {
    border: 1px green solid;
    margin: 10px;
}

.dom-and-css {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dom-and-css>div {
    flex-grow: 1;
    flex-basis: 0px;
}

.dom-and-css>.active {
    background-color: rgba(255,255,255,0.5);
}

.tools .style .current {
    background-color: rgba(127,255,127,0.5);
}