{:state {:mouse-old {:x 418, :y 262}, :mouse-moving false, :tools {:x 29, :y 85}, :mode :html, :stylesheet {"foo" {:idx 0, :rules [{:attribute "border", :value "1px black solid"} {:attribute "margin", :value 42, :unit "px"} {:attribute "min-width", :value "100px"} {:attribute "min-height", :value "200px"}]}, "bar" {:rules [{:attribute "margin", :value "20px"} {:attribute "background", :value "white"} {:attribute "height", :value "150px"} {:attribute "width", :value "80%"}], :idx 3}}, :layers [:image :document :overlay], :image {:y 16, :src "/images/reference.png", :x 70}, :active-class 0}, :document {:collapsed false, :content [{:collapsed false, :content [], :current false, :attrs {}, :tag :div, :classes ["bar"]}], :current false, :attrs {}, :tag :div, :classes ["foo"]}}